In [112]:
import pandas as pd
df =pd.read_excel('Documents//datasets//spam1.xlsx')

In [113]:
df.head()

,Category,Message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

# grouping messages into different category

In [114]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    653  Please call our customer service representativ...

              Unnamed: 2         \
         freq      count unique
Category
ham        30         45     39
spam        4          5      4

                                                                 Unnamed: 3  \
                                                        top freq      count
Category
ham        bt not his girlfrnd... G o o d n i g h t . . .@"    3         10
spam                                            PO Box 5249    2          2

                                            Unnamed: 4
         unique                    top freq      count unique      top freq
Category
ham           9                     GE    2          6      5  GNT:-)"    2
spam          1   MK17 92H. 450Ppw 16"    2          0      0      NaN  NaN

# creating spam column,use category for grouping using lambda

In [115]:
df['spam'] =df['Category'].apply(lambda x:1 if x=='spam' else 0) # if x of category ==spam,then it's spam,assign
                                                                    # 1 to it,else 0

In [116]:
df.head()

,Category,Message,Unnamed: 2,Unnamed: 3,Unnamed: 4,spam
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN,0
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN,0
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN,1
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN,0
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN,0

In [117]:
df.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis='columns',inplace=True)

In [118]:
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

# train test split function

In [119]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.Message ,df.spam,test_size=0.25)

In [120]:
len(x_train)

4180

In [121]:
len(x_test)

1394

# import feature extraction ,countvectorizer

In [122]:
from sklearn.feature_extraction.text import CountVectorizer
vec = CountVectorizer()

# creat array and categorize each word in the text into 0,1 when it appears

In [123]:
x_train_count = vec.fit_transform(x_train.values) 
x_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

# using MultinomialNB naive_bayes

In [124]:
from sklearn.naive_bayes import MultinomialNB
multy =MultinomialNB()

In [125]:
multy.fit(x_train_count ,y_train)# x_train_count email converted into matrx

MultinomialNB()

# making predictions

In [126]:
emails=[
    'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..',
    'SIX chances to win CASH! From 100 to 20,000 pounds txt> CSH11 and send to 87575. Cost 150p/day, 6days, 16+ TsandCs apply Reply HL 4 info'
]
email_count =vec.transform(emails)
multy.predict(email_count)# first is normal mail,2nd is advert

array([0, 1])

In [127]:
mails =[
    'Hey Nuel,can we get together to watch football game tomorrow?',
    'upto 20% discount on parking,exclusive offer just for you. Dont miss out!'
]
mail =vec.transform(mails)
multy.predict(mail)# first is normal mail,2nd is advert

array([0, 1])

# getting accuracy of the model

# using  pipeline for the above operations

In [139]:
from sklearn.pipeline import Pipeline
clf =Pipeline([('vectorizer',CountVectorizer()),('nb',MultinomialNB())])

In [140]:
clf.fit(x_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

# model prediction

In [142]:
clf.predict(emails)

array([0, 1])